body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(198 203 213);
}
h1 {
  text-align: center;
  font-size: 34px;
  letter-spacing: 1px;
  margin-bottom: 7px;
}
h2 {
  display: inline;
  font-size: 48px;
  font-weight: 600;
}
form {
  display: inline;
}
h6 {
  font-size: 9.9px;
  color: rgb(218, 218, 218);
  margin: 3px 1px 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  cursor: pointer;
  opacity: 70%;
  color: #ffffff;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  width: 31px;
}
p {
  margin-top: 3px;
  margin-bottom: 0rem;
  letter-spacing: 1.3px;
  font-size: 12px;
}
hr {
  margin: 10px;
}
.container {
  color: #ffffff;
  display: block;
  max-width: 600px;
  min-width: 350px;
}
.container-main {
  background-color: rgb(81, 93, 121);
  margin: 20px auto 5px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.192);
  padding: 2px 0 14px;
}
.container-info {
  background-color: rgb(81, 93, 121);
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0 rgb(0 0 0 / 19%);
  padding: 4px;
  margin-top: 20px;
  margin-bottom: -1rem;
}
.container-sun {
  background-color: rgb(81, 93, 121);
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.192);
  padding: 9px 0 8px;
  margin-top: 0;
  margin-bottom: -1rem;
  font-size: 14px;
}
.container-forecast {
  background-color: rgb(81, 93, 121);
  margin: 5px auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.192);
  padding: 22px 0 0 0;
  line-height: 38px;
  font-size: 14px;
}
.input-city {
  margin: 20px auto 20px;
  text-align: left;
  width: 60%;
}

.container-sun p {
  margin-top: 8px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 0;
  letter-spacing: 1.3px;
}
.prevision-container {
  padding: 22px 10px 1px;
}

.prevision-container .col {
  padding: 0 2px;
}

.prevision-container .card {
  background-color: rgb(81, 93, 121);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.192);
  border-color: rgb(81, 93, 121);
}

.prevision-container .card-body {
  text-align: center;
}
.days ul {
  text-align: right;
  letter-spacing: 1px;
}
.high-low-1 {
  text-align: center;
  letter-spacing: 2px;
}
.high-low-2 ul {
  text-align: center;
  letter-spacing: 3px;
}
.icon ul {
  text-align: left;
  font-size: 26px;
  padding: 0px 0 0 22px;
  line-height: 38px;
}
.temperature-unit {
  font-size: 1rem;
  font-weight: 500;
}

#date {
  text-align: center;
  display: block;
  margin-top: 0;
  font-size: 1rem;
}
#weather-description {
  text-transform: uppercase;
  font-size: 15px;
  margin: 4px;
  color: rgb(218, 218, 218);
}
#current-temperature {
  letter-spacing: 2px;
}

#today-temp {
  font-size: 1rem;
}
#sunrise {
  font-size: 12px;
}
#sunset {
  font-size: 12px;
}
#sunrise-text {
  font-size: 9.9px;
  font-weight: 500;
  color: rgb(218, 218, 218);
}
#sunset-text {
  font-size: 9.9px;
  font-weight: 500;
  color: rgb(218, 218, 218);
}
#five-day-forecast {
  padding-right: 22px;
}
#icons {
  padding-left: 22px;
}

#github-link {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#link {
  color: rgb(81, 93, 121);
}
#today-icon {
  width: 90px;
  display: block;
  text-align: center;
  margin: auto;
  font-size: 37px;
}
